<div class="header-home">
    <div class = "background-color"></div>
    <div class="container-fluid">
        <div class="top-row">
            <div class="logo">
                <a href="https://dhrift.org"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | absolute_url }}" /></a>
            </div>
            <div class="navigation">
                {% include main-menu.html %}
                {% include hamburger.html %}
            </div>
        </div>
    </div>
    <div class="intro-container">
        <span id="intro-text">Grow your digital skills with DHRIFT.</span><br>
        <span id="meet-description">DHRIFT (Digital Humanities Resource Infrastructure for Teaching Technology) is an open educational resource (OER) and publication platform for teaching and learning digital skills.</span>
        <div class="button-container">
            <p><a href="https://app.dhrift.org" class="dark-button">Start learning.</a></p>
        </div>
        <div class ="image-wrapper">
        <div class="intro-image-container">
            <img src="/images/dhrift-python-example.png" alt="DHRIFT platform screenshot">
        </div>
    </div>
    </div>
</div>








