<div class='header'>
  <div class="container">
    <div class="top-row">
      <div class="logo">
        <a href="{{ site.baseurl }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
      </div>
      <div class="navigation">
        {% include main-menu.html %}
        {% include hamburger.html %}
      </div>
    </div>
    <div class="page-name">
      <span id="currentPageName"></span>
    </div>
  </div>
</div>
