<div class="banner">
    <div class="container">
      <div class="banner-container">
        <a href = "https://gcdi.commons.gc.cuny.edu" target ="_blank"> 
        <img src="/images/logo/gcdi.png" alt="GCDI logo" class="partner">
        </a>
        <a href = "https://www.neh.gov/" target ="_blank">
        <img src="/images/logo/NEH.png" alt="NEH logo" class="partner">
        </a>
        <a href = "https://www.gc.cuny.edu/" target ="_blank">
        <img src="/images/logo/GC.svg" alt="GC logo" class="partner">
        </a>
      </div>
    </div>
  </div>