.page-teams {
  background-color: #FFF9F4;
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .team-image {
      height: 90px !important;
      width: 90px !important;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width:100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .team-meta {
      flex: 1;
      h2 {
        margin: 0;
        font-size: 26px;
        font-weight: bold;
        color: #614F42 !important;
      }
      p {
        color: #614F42;
        text-transform: uppercase;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        font-weight: bold;
      }
      a {
        color: #614F42 !important;
      }
    }
    .team-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    padding: 30px;
    border-radius: 3px;
    .team-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 90px;
      }
    }
  }
}
