---
---

// load fonts
@font-face{
  font-family: 'Bricolage Grotesque';
  src: url('/assets/fonts/BricolageGrotesque_36pt-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Bricolage Grotesque Extra-Light';
  src: url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,400;12..96,700&family=Montserrat:wght@400;700&family=Poppins&display=swap')
}

@font-face{
  font-family: 'Poppins Regular';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

// Colors
$primary: #614F42; //bark
$primary-dark: #3C342F; // dark bark
$secondary: #FFF9F4; //cream
$dark-cream: #EEE7E1; //dark cream
$black: #1B1621;
$white: #ffffff;
$white-offset: #fff6f8;
$steel: #5c5a5a; 
$peach: #D8AC6C;
$sky: #98D3D0;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: "Poppins Regular";
$font-family-heading: "Bricolage Grotesque";
$font-family-bc-light: "Bricolage Grotesque Extra-Light";

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";
@import "components/logo-banner";
// @import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-home";
@import "pages/page-teams";
@import "pages/page-service";

body {
  font-size: 16px;
  line-height: 1.2;
  overflow-x: hidden;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

ul {
    margin: 2em 1em 2em 2em;
}

ul li {
    margin: .5em 0 .5em 0;
}

.no-paragraphs p {
    display: inline;
}

.no-paragraphs a {
    margin-left: .3em;

}

.content {
  margin-top:-40px;
}

// hamburger menu responsiveness
@media (max-width: 1200px) {
  #toggle-main-menu-mobile {
    display: block; 
  }

  .main-menu {
    display: none;
  }

  
  #toggle-main-menu-mobile.active + .main-menu {
    display: block;
  }
}

#mobile-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black overlay
  z-index: 1000;
}

// header stuff
.header {
  background-image: url('/images/header_general.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  //filter: (brightness(115%));
  background-color: $dark-cream;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// lighten up the header image a bit more with a gradient
.header::before {
  content: "";
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-home {
  background-image: url('/images/headerbkg4.png');
  background-size: 100% 85%;
  background-repeat: no-repeat;
  background-position: center top; 
  //filter: brightness(115%);
  //background-color: $dark-cream !important;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-home::before {
  content: "";
  // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container-fluid {
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%; 
  padding: 10px; 
}

.logo {
  //margin-right: auto;
  img {
    width: 500px;
    height: auto;
  }
}

.navigation {
  //margin-left: auto ; 
  font-family: $font-family-heading !important;
}

.page-name {
  text-align: center;
  //font-weight: bold;
  font-size: 6em !important;
  margin-top: 20px;
  font-family: $font-family-heading !important;
}

#currentPageName {
  text-align: center;
  font-weight: bold;
  font-size: .6em !important;
  margin-top: 20px;
  font-family: $font-family-heading !important;
}
.main-menu ul li a {
  font-size: 1.7em; 
  padding-right: 25px;
}

.main-menu .active a {
  border-bottom: 2px solid $sky;
}

.main-menu a:hover {
  text-decoration-color: $sky !important;
}

.intro-container {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

#intro-text {
  font-family: $font-family-heading !important;
  color: $primary !important;
  text-align: center;
  font-size: 2.5em;
  line-height: 1.2em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dark-button {
  background-color: $primary;
  color: $white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 0; 
  transition: background-color 0.3s;
  font-size: 1.5em;
}

.dark-button:hover {
  background-color: $sky; 
  color: $primary;
  cursor: pointer;
  text-decoration: none;
}

.intro-image-container {
  text-align: center;
  margin-top: 20px;
}

.intro-image-container img {
  width: 60%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: 2px solid $primary;
}


// features
#features {
  width: 100%;
}

.feature-container {
  padding: 20px;
  background-image: url('/images/features-bkg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(85%);
  position: relative;
}

.feature-container::before {
  content: "";
  background: rgba(152, 211, 208, 0.25);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.feature {
  border: none;
  outline: none;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 1.4em;
  background-color: rgba(255, 255, 255, 0.0);

  .feature-title {
    font-weight: bold;
    font-size: 1.5em;
    color: $white;
  }

  .feature-content {
    margin-top: -2px;
    color: white;
  }

  .feature-image {
    width: 40px;
    height: 40px;
    transform: rotate();
  }
}

@media (max-width: 767px) {
  .feature-container {
    padding: 10px;
  }

  .feature {
    margin-left: -80px;
    margin-right: -80px;
  }
}

@media (max-width: 992px) {
  .feature-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
  }

  .feature {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 772px) {
  .feature-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .feature {
    margin-left: 10px;
    margin-right: 10px;
  }
}

// event alert
.alert {
  background-color: rgb(237, 219, 122);
  font-family: $font-family-base;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  margin-left: 25%;
}

.closebtn {
  //margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

// meet DHRIFT section
#meet {
  margin-top: 50px;
  background-color: $white;
  padding: 50px 0; 
  text-align: center;
}

.meet-title {
  font-size: 3.8em;
  font-family: $font-family-heading !important;
  //font-weight: bold;
  color: $primary; 
  margin-bottom: 20px;
}

.meet-description {
  font-size: 1.5em;
  color: $primary; 
}

// call to action section
#actions::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/dandelion-bkg.png');
  background-size: cover;
  background-position: top;
  opacity: 0.5;
  z-index: -1;
}

#actions {
  //background-color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px; 
  margin: 0 auto;
}

.action {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 40px;
  justify-content: space-between;
}

.action-inner {
  display: flex;
  width: 100%;
}

.content-container,
.image-container {
  width: 50%; 
  overflow: visible;
  margin-left: 40px;
  max-height: 400px;
  min-height: 100px;
}

.action-button {
  display: inline-block;
  padding: 10px 20px; 
  background-color: $white;
  color: $primary;
  text-decoration: none;
  border: $primary 2px solid;
  font-size: 1.3em;
  transition: background-color 0.3s;
  align-self: start;
}

.action-button:hover {
  background-color: $primary;
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

.dark-button {
  background-color: $primary;
  color: $white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 0; 
  transition: background-color 0.3s;
  font-size: 1.5em;
}

.dark-button:hover {
  background-color: $sky; 
  color: $primary;
  cursor: pointer;
  text-decoration: none;
}

.action-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.image-container img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  margin-top: 60px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 200px;
  margin-right: 20px;
}

.action-title {
  font-size: 2.7em !important;
  text-align: left;
  align-self: start;
  color: $primary;
  margin-bottom: 20px;
}

.content-container.last {
  margin-bottom: 10px; 
}

.action-icon img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.button-content h3 {
  text-align: left;
  font-size: 1.5em !important;
}

.action-description {
  margin-top: 10px;
  text-align: left;
  font-size: 1.35em !important;
  //white-space: pre-line;
  margin-bottom: 40px;
}

// only apply the alternating layout on larger screens
@media (min-width: 768px) {
  .action-inner.left {
    flex-direction: row;
  }
  
  .action-inner.right {
    flex-direction: row-reverse;
  }
  }

// itty bitty screens, form a single columnn
@media (max-width: 767px) {
  .action-inner {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  .action-inner.left .content-container,
  .action-inner.right .content-container {
    margin-bottom: 30px; 
    margin-left: 20px;
    overflow: visible;
  }

  .content-container,
  .image-container {
    width: 100%; 
    margin-left: 20px;
    margin-top: -30px; 
    //margin-bottom: 20px; 
  }

  .action-icon img {
    max-width: 70px; 
    max-height: 70px; 
  }

  .content-container.last
  {
    margin-bottom: -20px; 
  }
}


// footer stuff
.footer {
  background-color: $primary;
  color: $white;
  padding: 20px 0;

  .container-fluid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    flex-direction: column;
  }

  .footer-inner {
    display: flex;
    align-items: center;
    //flex-wrap: wrap;

    .logo {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .menu {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: flex-end; 
      margin-right: 100px; 

      li {
        margin-left: 20px;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.4em;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-inner {
    //justify-content: space-between; 
    padding: 10px; 

    .logo {
      margin-bottom: 10px;
      display: none;
    }

    .menu {
      flex-basis: 100%; 
      justify-content: flex-end;
      align-items: center; 

      li {
        margin: 0 10px;
      }
    }
  }
}


// sub footer
.sub-footer {
  display: flex;
  background-color: $primary; 
  color: $white; 
}

.sub-footer-inner {
  background-color: $primary !important;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-grow: 1; 
}

.copyright {
  background-color: $primary !important;
  font-size: 1.1em !important;
  width: 100%;
  text-align: center; 
  margin-top: 10px; 
}

@media (max-width: 768px) {
  .sub-footer-inner {
    margin: 20px; 
    flex-direction: column; 
    align-items: center; 
  }

  .logo-container {
    margin-bottom: 10px; 
  }

  .copyright {
    order: 1;
  }
}

// partner logos banner
.banner {
  background-color: $primary;
  color: #fff;
  padding: 20px 0;
  z-index: 1;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.partner {
  margin: 0 80px;
  width: 350px;
  max-height: fit-content;
  transition: max-width 0.3s;
}

@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
  }

  .partner {
    margin: 10px 0;
    max-width: 70%;
  }
}

@media (min-width: 769px) and (max-width: 1500px) {
  .banner-container {
    justify-content: space-between;
  }

  .partner {
    margin: 10px 0;
    max-width: 90%;
  }
}

// team page
.team-name {
  color: $primary !important;
}

.team {
  color: $primary !important;
}

// faq
.faq.service-summary {
  border-bottom: 1px solid $peach;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 15px; 
}

.faq-description
{
  color: $primary !important;
  font-size: 1.1em !important;
}

.faq-content-toggle {
  cursor: pointer;
}

.faq-title {
  font-family: $font-family-base !important;
  color: $primary !important;
  font-weight: bold;
  cursor: pointer;
}

[data-toggle="collapse"].collapsed .rotate-icon .fa-angle-down {
  transform: rotate(0deg);
}

[data-toggle="collapse"]:not(.collapsed) .rotate-icon .fa-angle-down {
  transform: rotate(180deg);
}

.toggle-button {
  border: none;
  background: none;
  cursor: pointer;
}

// gallery
.visit-button {
  background-color: $primary;
  color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 0;
  transition: background-color 0.3s;
  font-size: 1.5em;
}

.visit-button:hover {
  background-color: $sky; 
  color: $primary;
  cursor: pointer;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-body {
  padding: 20px;
  margin: 10px;
}

.gallery-head {
  font-size: 2.3em;
  font-family: $font-family-heading !important;
  color: $primary;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}