---
---

// load fonts
@font-face{
  font-family: 'Bricolage Grotesque';
  src: url('/assets/fonts/BricolageGrotesque_36pt-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Bricolage Grotesque Extra-Light';
  src: url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,400;12..96,700&family=Montserrat:wght@400;700&family=Poppins&display=swap')
}

@font-face{
  font-family: 'Poppins Regular';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

// Colors
$primary: #614F42; //bark
$primary-dark: #3C342F; // dark bark
$secondary: #FFF9F4; //cream
$dark-cream: #EEE7E1; //dark cream
$black: #1B1621;
$white: #ffffff;
$white-offset: #fff6f8;
$steel: #5c5a5a; 
$peach: #D8AC6C;
$sky: #98D3D0;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: "Poppins Regular";
$font-family-heading: "Bricolage Grotesque";
$font-family-bc-light: "Bricolage Grotesque Extra-Light";

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";
@import "components/logo-banner";
// @import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-home";
@import "pages/page-teams";
@import "pages/page-service";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

ul {
    margin: 2em 1em 2em 2em;
}

ul li {
    margin: .5em 0 .5em 0;
}

.no-paragraphs p {
    display: inline;
}

.no-paragraphs a {
    margin-left: .3em;

}

.content {
  margin-top:-40px;
}

// header stuff
.header {
  background-image: url('/images/header-bkg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: (brightness(115%));
  background-color: $dark-cream;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// lighten up the header image a bit more with a gradient
.header::before {
  content: "";
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-home{
  background-image: url('/images/header-bkg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: (brightness(115%));
  background-color: $dark-cream;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.header-home::before {
  content: "";
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  //background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  flex-direction: column;
  width: 100%;
}

.header-home-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%; 
  padding: 10px; 
}

.logo {
  //margin-right: auto;
  img {
    width: 500px;
    height: auto;
  }
}

.navigation {
  //margin-left: auto ; 
  font-family: $font-family-heading !important;
}

.page-name {
  text-align: center;
  //font-weight: bold;
  font-size: 6em !important;
  margin-top: 20px;
  font-family: $font-family-heading !important;
}

#currentPageName {
  text-align: center;
  font-weight: bold;
  font-size: .6em !important;
  margin-top: 20px;
  font-family: $font-family-heading !important;
}
.main-menu ul li a {
  font-size: 1.7em; 
  padding-right: 25px;
}

.main-menu .active a {
  border-bottom: 2px solid $sky;
}

.main-menu a:hover {
  text-decoration-color: $sky !important;
}

// features
.feature-container {
  padding: 20px;
  background-image: url('/images/features-bkg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: (brightness(85%));
}

//overlay feature container with light blue to make it look more like designer doc
.feature-container::before {
  content: "";
  background: rgba(152, 211, 208, 0.25);
  pointer-events: none; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}

.feature {
  border: none; 
  outline: none;
  margin-left: 60px; 
  margin-right: 60px; 
  font-size: 1.4em;
  // make fully transparent background
  background-color: rgba(255, 255, 255, 0.0);

  .feature-title {
    font-weight: bold;
    font-size: 1.5em;
    //margin-bottom: 10px;
    color: $white;
  }

  .feature-content {
    //font-size: 1.2em;
    margin-top: -2px;
    color: white;
  }

  .feature-image {
    width: 40px;
    height: 40px;
    transform: rotate();
  }
}

//home page stuff
.intro-container {
  text-align: left;
  margin-top: 70px;
  margin-left: 200px;
  align-self: flex-start !important;
  margin-bottom: 40px;
}

#intro-text {
  font-family: $font-family-heading !important;
  color: $primary !important;
  text-align: left;
  font-size: 3em;
  line-height: 1.2em;
  align-self: flex-start !important;
}

.button-container {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  align-self: flex-start !important;
}

.dark-button {
  background-color: $primary;
  color: $white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 0; 
  transition: background-color 0.3s;
  font-size: 1.5em;
}

.dark-button:hover {
  background-color: $sky; 
  color: $primary;
  cursor: pointer;
  text-decoration: none;
}

//actions
#actions {
  text-align: center;
  //margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary;
  //margin: 0; 
  padding: 0;
  //margin-bottom: 20px;
  //margin-top: 20px;
}

.action {
  max-width: 200px;
  text-align: center;
  margin-top: 20px;
}

.action img {
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}

.action h3 {
  font-size: 2em;
  margin: 10px 0;
}

.action p {
  font-size: 1.25em;
  color: #555;
}

.action-row {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-right: 20px;
  align-items: flex-start;
}

.action-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: $white; 
  color: $primary;
  text-decoration: none;
  border: $primary 2px solid;
  //border-radius: 5px;
  font-size: 1.5em;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: $primary;
  color: $white; 
  text-decoration: none;
}

// footer stuff
.footer {
  background-color: $primary; 
  color: $white; 
  padding: 20px 0;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4em; 
}

.menu a:hover {
  text-decoration: underline; 
}

.sub-footer {
  display: flex;
  background-color: $primary; 
  color: $white; 
}

.sub-footer-inner {
  background-color: $primary !important;
  color: $white;
  margin-left: 200px;
  margin-right: 50px; 
}

.copyright {
  background-color: $primary !important;
  font-size: 1.1em !important;
}

// partner logos banner
.banner {
  // add background image?
  background-color: $primary;
  color: #fff;
  padding: 20px 0;
  z-index: 1;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.partner {
  margin: 0 60px; 
  max-width: 350px; 
  max-height: fit-content;
}

// team page
.team-name {
  color: $primary !important;
}

.team {
  color: $primary !important;
}

// faq
.faq.service-summary {
  border-bottom: 1px solid $peach;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 15px; 
}

.faq-content-toggle {
  cursor: pointer;
}

.faq-title {
  font-family: $font-family-base !important;
  color: $primary !important;
  font-weight: bold;
  cursor: pointer;
}

[data-toggle="collapse"].collapsed .rotate-icon .fa-angle-down {
  transform: rotate(0deg);
}

[data-toggle="collapse"]:not(.collapsed) .rotate-icon .fa-angle-down {
  transform: rotate(180deg);
}

.toggle-button {
  border: none;
  background: none;
  cursor: pointer;
}
