---
layout: default
bodyClass: "page-service"
id: "faq-page"
---

{% assign sorted_pages = site.faqs | sort: "order" %}

<div class="container pt-4">
  <div class="row">
    <div class="col-12">
      {% for faq in sorted_pages %}
      <div class="faq service-summary">
        <div class="faq-content">
          <div class="row">
            <div class="col-10">
              <h2 class="service-title faq-title" data-toggle="collapse" data-target="#faq-{{ forloop.index }}">
                {{ faq.title }}
              </h2>
              <p class="description">{{ faq.description }}</p>
            </div>
            <div class="col-2 text-right">
              <button class="toggle-button">
                <i id="icon-{{ forloop.index }}" class="fa fa-angle-down fa-3x rotate-icon" aria-hidden="true" style="color: #D8AC6C; transition: transform 0.3s ease-in-out;"></i>
              </button>
            </div>
          </div>
          <div id="faq-{{ forloop.index }}" class="collapse">
            <div class="answer">{{ faq.content }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- make the title area and icon clickable for the toggle, then rotate the icon-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const faqTitles = document.querySelectorAll(".faq-title");
  
    faqTitles.forEach((title) => {
      title.addEventListener("click", () => {
        const targetId = title.getAttribute("data-target");
        const target = document.querySelector(targetId);
        const icon = document.querySelector(`#icon-${targetId.split("-")[1]}`); // Select the icon
  
        if (target.style.display === "block") {
          target.style.display = "none";
          icon.style.transform = "rotate(0deg)";
        } else {
          target.style.display = "block";
          icon.style.transform = "rotate(180deg)";
        }
      });
    });
  });
  </script>
  