---
layout: default
bodyClass: home
---
<!--
<section class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
	{% if page.show_call_box %}
	{% include call.html show_button=true %}
	{% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
	<img style="border-radius: 50%;" alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</section>
-->
<!--
{% if site.posts %}
{% include updates.html %}
{% endif %}
-->


{% if site.data.actions %}
<section id="actions">
  <div class="action-container">
    <div class="grid-container">
      {% for action in site.data.actions %}
        <div class="action" data-image="{{ action.image }}" data-message="{{ action.message }}">
          <div class="action-inner">
            <div class="action-icon">
              <img src="/images/{{ action.icon }}.svg" alt="{{ action.alt }}">
            </div>
            <div class="action-content">
              <a href="{{ action.link }}" class="action-button" target="_blank">
                <h3>{{ action.title }}</h3>
              </a>
              <p>{{ action.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="image-container">
      <div class="message-container">
        <p class="message-content" id="messageContent">Default Message</p>
      </div>
      <img src="images/The_Graduate_Center_hero.jpg" alt="CUNY Graduate Center" id="mainImage">
    </div>
  </div>
</section>
{% endif %}


{% if site.data.features %}
<section id="features">
  <div class="strip strip-grey">
    
      <div class="feature-container row justify-content-center">

	{% for feature in site.data.features %}
	<div class="col-12 col-md-6 col-lg-4 mb-2">
	  <div class="feature">
	    {% if feature.icon %}
	    <div class="feature-image">
			<img src="/images/dandelion.png" alt="{{ feature.alt }}">
	    </div>
	    {% endif %}
	    <h2 class="feature-title">{{ feature.title }}</h2>
	    <div class="feature-content">{{ feature.description }}</div>
	  </div>
	</div>
	{% endfor %}

      </div>
    </div>
  </div>
</section>

<!-- Rotate the dandelions and change actions content area according to button hover-->
<script>
document.addEventListener("DOMContentLoaded", function () {
  const featureIcons = document.querySelectorAll(".feature-image");
  const usedRotationAngles = new Set(); // Keep track of used dandelion angles

  featureIcons.forEach(function (icon) {
    let rotationAngle;

    do {
      rotationAngle = Math.floor(Math.random() * 360);
    } while (usedRotationAngles.has(rotationAngle));

    usedRotationAngles.add(rotationAngle);
    icon.style.transform = `rotate(${rotationAngle}deg)`;
  });

  // Store the default action image and message
  let currentImage = $('#mainImage').attr('src');
  let defaultMessage = "Digital Humanities Infrastructure for Teaching (DHRIFT) is a project of the CUNY Graduate Center's Digital Initiatives."; 

  // Set the default message
  $('#messageContent').text(defaultMessage);

  let hoverTimeout;

  // Image change on button hover with message
  $('.action-button').hover(
    function () {
      let imageUrl = $(this).closest('.action').data('image');
      let message = $(this).closest('.action').data('message');

      clearTimeout(hoverTimeout);

      // set timeout
      hoverTimeout = setTimeout(function () {
        // Check if the new image is different from the current one and update
        if (imageUrl !== currentImage) {
          $('#mainImage').attr('src', imageUrl);
          currentImage = imageUrl;
          $('#messageContent').text(message); 
        }
      }, 300);
    },
    function () {
      clearTimeout(hoverTimeout); // Clear the timeout on mouse out
    }
  );
});
</script>
{% endif %}
