---
layout: default
bodyClass: home
---

<section id = "meet">
  <div class="container">
      <div class="align-self-center">
        <h1 class="meet-title">Introducing DHRIFT</h1>
        <p class="meet-description"> An open educational resource (OER) and publication platform for teaching and learning digital skills, publishing interactive workshops, and building sites for digital skill training institutes</p>
      </div>
    </div>
</section>

{% if site.data.actions %}
<section id="actions">
  <div class="action-container">
    {% for action in site.data.actions %}
      <div class="action" data-image="{{ action.image }}">
        <div class="action-inner {% cycle 'right', 'left' %}">
          <div class="image-container">
            <img src="{{ action.image }}" alt="{{ action.title }}">
          </div>
          <div class="content-container {% if forloop.last %}last{% endif %}">
            <h1 class="action-title">{{ action.message }}</h2>
            <p class="action-description">{{ action.description }}</p>
            <a href="{{ action.link }}" class="action-button">
              <div class="button-content">
                <h3>{{ action.title }}</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}


{% if site.data.features %}
<section id="features">
  <div class="strip strip-grey">
    <div class="container-fluid">
      <div class="row feature-container">

        {% for feature in site.data.features %}
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="feature">
            {% if feature.icon %}
            <div class="feature-image">
              <img src="/images/dandelion.png" alt="{{ feature.alt }}">
            </div>
            {% endif %}
            <h2 class="feature-title">{{ feature.title }}</h2>
            <div class="feature-content">{{ feature.description }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<div id="alert" class="alert">
  <span class="closebtn" onclick="dismissAlert()">&times;</span> 
  <strong>Join Us</strong> @ the ADHO Digital Humanities Conference 2024! Click <a href="https://dh2024.adho.org/program/workshops/">here</a> for more information.
</div>


<!-- Rotate the dandelions and scroll the alert-->
<script>

function dismissAlert() {
  document.getElementById("alert").style.display = "none";
}

document.addEventListener("DOMContentLoaded", function () {
  document.getElementById("alert").style.display = "block";
  const featureIcons = document.querySelectorAll(".feature-image");
  const usedRotationAngles = new Set(); // Keep track of used dandelion angles

  featureIcons.forEach(function (icon) {
    let rotationAngle;

    do {
      rotationAngle = Math.floor(Math.random() * 360);
    } while (usedRotationAngles.has(rotationAngle));

    usedRotationAngles.add(rotationAngle);
    icon.style.transform = `rotate(${rotationAngle}deg)`;
    });

  // Function to handle alert scrolling
  window.addEventListener('scroll', function() {
    const alertElement = document.getElementById("alert");
    const windowHeight = window.innerHeight;
    const bodyHeight = document.body.scrollHeight;
    const scrollPosition = window.scrollY || window.pageYOffset;

    //place the alert at the bottom of the viewport
    if (scrollPosition > windowHeight) {
      alertElement.style.position = "fixed";
      alertElement.style.bottom = "0";
      alertElement.style.left = "0";
      alertElement.style.width = "50%";
    } else {
      alertElement.style.position = "relative";
    }
  });
  });
  </script>
{% endif %}
