---
layout: default
bodyClass: page-basic
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h1 class="news-head">Stay up to date with the latest news about the DHRIFT project.</h1>
            {% assign sorted_news = site.news | sort: 'date' | reverse %}
            {% for news_item in sorted_news %}
            <div class="news-container">
                <div class="news-date">
                    <h6 class="card-subtitle mb-2 text-muted">{{ news_item.date | date: "%B %d, %Y" }}</h6>
                </div>
                <div class="news-content">
                    <div class="news-card-body">
                        <div class="news-details">
                            <h5 class="news-card-title">{{ news_item.title }}</h5>
                            <p class="news-card-text">{{ news_item.description }}</p>
                        </div>
                        {% if news_item.image %}
                        <div class="news-image-container">
                            <div class="news-image-wrapper">
                                <img src="{{ news_item.image }}" class="news-image img-fluid" alt="{{ news_item.title }}">
                            </div>
                        </div>
                        {% endif %}
                        <div class="additional-text" style="display: none;">
                            {{ news_item.content | markdownify }}
                        </div>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
            </div>
            <hr class="news-separator">
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const readMoreLinks = document.querySelectorAll(".read-more");
    
        readMoreLinks.forEach(function(link) {
            link.addEventListener("click", function(event) {
                event.preventDefault();
                const additionalText = this.parentElement.querySelector(".additional-text");
                if (additionalText.style.display === "none" || additionalText.style.display === "") {
                    additionalText.style.display = "block";
                    this.textContent = "Read less";
                } else {
                    additionalText.style.display = "none";
                    this.textContent = "Read more";
                }
            });
        });
    });
</script>
