---
layout: default
bodyClass: page-basic
--- 

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h1 class="news-head">Stay up to date with the latest news about the DHRIFT project.</h1>
            {% for data in site.data.news %}
            <div class="news-container">
                <div class="news-date">
                    <h6 class="card-subtitle mb-2 text-muted">{{ data.date }}</h6>
                </div>
                <div class="news-content">
                    <div class="card-body">
                        <div class="news-details">
                            <h5 class="card-title">{{ data.title }}</h5>
                            <p class="card-text">{{ data.description }}</p>
                        </div>
                        <div class="news-image-container">
                            <div class="news-image-wrapper">
                                <img src="{{ data.image }}" class="news-image img-fluid" alt="{{ data.title }}">
                            </div>
                            <div class="additional-text" style="display: none;">
                                <p>{{ data.text }}</p>
                            </div>
                            <a href="#" class="read-more">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const readMoreLinks = document.querySelectorAll(".read-more");
    
        readMoreLinks.forEach(function(link) {
            link.addEventListener("click", function(event) {
                event.preventDefault();
                const additionalText = this.parentElement.querySelector(".additional-text");
                if (additionalText.style.display === "none" || additionalText.style.display === "") {
                    additionalText.style.display = "block";
                    this.textContent = "Read less";
                } else {
                    additionalText.style.display = "none";
                    this.textContent = "Learn more";
                }
            });
        });
    });
</script>
    
